<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'/>
    <meta content='Email Automation' property='og:site_name'/>
    <meta name="author" content="Aryan Raj">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="google-site-verification" content="x-6btiqB9WFnDwIZNUyS5SYyzckpovDijqri4ye1Epk" />
    <link rel="dns-prefetch preconnect" href="https://apis.google.com" crossorigin>
    <link rel="dns-prefetch preconnect" href="https://accounts.google.com" crossorigin>
    <link rel="dns-prefetch preconnect" href="/static/img">
    <link rel="dns-prefetch preconnect" href="/static/vendor">
    <link href="/static/img/favicon.png" rel="icon">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <title></title>
    <link rel="dns-prefetch preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/cookie.js"></script>
    <style>
      ::-webkit-scrollbar {
          width: 2px;
          height: 2px;
      }
      ::-webkit-scrollbar-corner{
          width: 1px;
      }
      ::-webkit-scrollbar-track {
          background: transparent;
          outline: none;
          border: none;
      }
      ::-webkit-scrollbar-thumb {
          background: gray;
          border-radius: 10px;
          width: 2px;
      }
  </style>
</head>
<body>
        <div id="app"><div id="preloader"></div></div>
        
      <footer id="footer">
    
        <div class="container d-md-flex py-4">
    
          <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
              &copy; Copyright <strong><span>Email Automation</span></strong>. All Rights Reserved
            </div>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="ri-twitter-fill"></i></a>
            <a href="#" class="facebook"><i class="ri-facebook-fill"></i></a>
            <a href="#" class="instagram"><i class="ri-instagram-line"></i></a>
            <a href="#" class="google-plus"><i class="ri-skype-fill"></i></a>
            <a href="#" class="linkedin"><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>
      </footer>
      
      <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
      <script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
      <script src="/static/vendor/counterup/counterup.min.js"></script>
      <script src="/static/vendor/venobox/venobox.min.js"></script>
      <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/static/vendor/aos/aos.js"></script>
      <!-- Template Main JS File -->
      <script src="/static/js/main.js"></script>
    <div class="mobile-nav-overly"></div>
      <script src="/static/reactApp/script.js"></script>
</body>
</html>